.s-hero {
  background: url("../img/hero-banner.jpg") no-repeat center right;
  height: 70rem;
  width: 100%;
  .left {
    padding-top: 18.9rem;
    .programa-pontos {
      display: flex;
      align-items: center;
      margin-bottom: 3.3rem;
      span {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 10rem;
        color: $white;
        background-color: #006d8f;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-right: 1.2rem;
      }
      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.5);
      }
    }
    h1 {
      max-width: 74rem;
      margin-bottom: 2.4rem;
    }
    p {
      max-width: 36.5rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.7);
    }
    .btn-secondary {
      margin-top: 4rem;
    }
  }

  @include responsive(991px) {
    background-position: left;
  }
  @include responsive(768px) {
    height: 66.7rem;
    .left {
      padding-top: 16rem;
      h1 {
        max-width: 55rem;
        font-size: 4rem;
        letter-spacing: -0.03em;
      }
    }
  }
  @include responsive(600px) {
    .left {
      @include flex(column, center, center);
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  @include responsive(480px) {
    .left {
      .programa-pontos {
        span {
          display: none;
        }
      }
    }
  }
  @include responsive(375px) {
    height: 63rem;
    .left {
      padding-top: 11rem;
      h1 {
        font-size: 3.4rem;
      }
    }
  }
}

.s-sem-tarifas {
  padding-top: 9.6rem;
  padding-bottom: 17.3rem;
  .container {
    @include flex(row, flex-start, space-between);
  }
  .left {
    max-width: 625px;
    width: 100%;
    .beneficios {
      padding-top: 10rem;
      .row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 6.8rem;
        }
        .item {
          span {
            position: relative;
            display: inline-block;
            margin-bottom: 2.4rem;
            &:after {
              content: "";
              position: absolute;
              width: 15px;
              height: 2px;
              background-color: $yellow-brand;
              top: 3rem;
            }
          }
          h4 {
            max-width: 19.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 16px;
            line-height: 150%;
            color: $gray-brand;
            max-width: 25.9rem;
          }
        }
      }
    }
  }
  .image {
    position: relative;
    max-width: 466px;
    width: 100%;
    img {
      position: absolute;
      top: -165px;
    }
  }

  @include responsive(1200px) {
    .left {
      max-width: 57rem;
    }
    .image {
      max-width: 42rem;
    }
  }
  @include responsive(991px) {
    padding-bottom: 9.6rem;
    .left {
      max-width: 65rem;
    }
    .image {
      display: none;
    }
  }
  @include responsive(600px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
      .beneficios {
        padding-top: 6.4rem;
        .row {
          @include flex(column, center, center);
          &:not(:last-child) {
            margin-bottom: 6.4rem;
          }
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(odd) {
              margin-bottom: 6.4rem;
            }
            h4 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
  @include responsive(480px) {
    .left {
      h2 {
        font-size: 3.2rem;
      }
      h3 {
        font-size: 2.4rem;
      }
    }
  }
}

.s-banco-completo {
  background: #fafafa;
  padding-top: 10.9rem;
  padding-bottom: 13.4rem;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.7rem;
    .top-content {
      h2 {
        margin-bottom: 0.8rem;
      }
      h3 {
        font-size: 2.8rem;
      }
    }
    .top-tabs {
      max-width: 57.6rem;
      width: 100%;
      padding: 0.8rem 1.1rem;
      border: 1px solid #c4c4c4;
      border-radius: 12rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tab {
        width: 26.9rem;
        height: 5.6rem;
        border-radius: 12rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        color: $gray-brand;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.active {
          color: $white;
          background-color: $black-brand;
        }
      }
    }
  }
  .tabs-content {
    height: 42.4rem;
    background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
    border-radius: 12px;
    padding-left: 10.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      h3 {
        max-width: 24rem;
        color: $white;
        font-weight: 600;
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
      }
      p {
        max-width: 34.1rem;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 4.4rem;
      }
      .aproxime-pague {
        display: flex;
        align-items: center;
        img {
          margin-right: 1.6rem;
        }
        span {
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 150%;
          color: #fafafa;
        }
      }
    }
    .right {
      position: relative;
      .area-image {
        max-width: 50.4rem;
        height: 42.4rem;
        width: 100%;
        position: relative;
        margin-right: 12.7rem;
        .cartao-frente {
          position: absolute;
          top: -1.8rem;
          left: 0;
        }
      }
      .logo-business {
        position: absolute;
        right: 7.2rem;
        bottom: 5.3rem;
      }
    }
  }

  @include responsive(1100px) {
    .top {
      .top-tabs {
        max-width: 49.6rem;
        .tab {
          width: 22.9rem;
        }
      }
    }
    .tabs-content {
      padding-left: 5.3rem;
      .right {
        .area-image {
          margin-right: 4.7rem;
        }
        .logo-business {
          right: 3.2rem;
          bottom: 3.2rem;
        }
      }
    }
  }
  @include responsive(991px) {
    .top {
      flex-direction: column;
      justify-content: center;
      .top-content {
        margin-bottom: 4rem;
        h2 {
          text-align: center;
        }
        h3 {
          text-align: center;
        }
      }
    }
    .tabs-content {
      flex-direction: column;
      height: 73rem;
      padding-left: 0;
      padding-top: 6rem;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
      .right {
        .area-image {
          max-width: 45.5rem;
          height: 38.3rem;
          margin-right: 0;
        }
        .logo-business {
          display: none;
        }
      }
    }
  }
  @include responsive(600px) {
    .tabs-content {
      height: 65rem;
      .right {
        .area-image {
          max-width: 37.4rem;
          height: 31.4rem;
          .cartao-frente {
            max-width: 24.3rem;
          }
        }
      }
    }
  }
  @include responsive(480px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .top {
      margin-bottom: 4.8rem;
      .top-content {
        h2 {
          font-size: 3.2rem;
        }
        h3 {
          font-size: 2.4rem;
        }
      }
      .top-tabs {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        .tab {
          font-size: 1.4rem;
          height: 4.8rem;
          width: 100%;
        }
      }
    }
    .tabs-content {
      height: 60rem;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      .left {
        h3 {
          font-size: 2.2rem;
          max-width: 22rem;
        }
      }
      .right {
        .area-image {
          max-width: 30rem;
          height: 25.2rem;
          .cartao-frente {
            max-width: 19.5rem;
          }
        }
      }
    }
  }
  @include responsive(375px) {
    .tabs-content {
      height: 58rem;
      .right {
        .area-image {
          max-width: 25rem;
          height: 21rem;
        }
      }
    }
  }
}
